body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667cb9, #1e1a2e);
    font-family: 'Segoe UI', sans-serif;
}


.calculator {
    width: 400px;
    padding: 22px;
    border-radius: 8px;
    background: rgba(131, 2, 2, 0.08);
    backdrop-filter: blur(20px);
    box-shadow: 0 25px 60px rgba(0,0,0,0.7);
    border: 1px solid rgba(255,255,255,0.08);
    cursor: pointer;
}

#input {
    width: 100%;
    display: block;
    height: 70px;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    outline: none;
}

#result {
    text-align: right;
    color: #00ffd0;
    font-size: 14px;
    margin: 10px 5px 18px;
    height: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

button {
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: rgba(255,255,255,0.08);
    transition: all 0.2s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button:hover {
    transform: translateY(-2px);
    background: rgba(255,255,255,0.15);
}

button:active {
    transform: scale(0.95);
}

.equal {
    background: linear-gradient(135deg, #00c853, #00e676);
    color: #000;
    font-weight: bold;
}

.red {
    background: linear-gradient(135deg, #ff1744, #ff4569);
}

.zero {
    grid-column: span 2;
}

* {
    box-sizing: border-box;
}
